.flex {
  display: flex;
}

.jc-even {
  justify-content: space-evenly;
}
.jc-sb {
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}

.m1 {
  margin: 10px;
}

.mr2 {
  margin-right: 20px;
}
.ml2 {
  margin-left: 20px;
}

.mb3 {
  margin-bottom: 30px;
}

.p2 {
  padding: 10px;
}

.r-10 {
  border-radius: 10px;
}

.click {
  cursor: pointer;
}

/*  */
.item-card {
  width: 400px;
  background-color: #f1ffab;
  border-radius: 20px;
  box-shadow: #696565 0px 0px 5px;
}

.btn {
  border: none;
  padding: 7px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
.btn-primary {
  background-color: #84ff4a;
}

.btn-secondary {
  background-color: #ff4952;
}

.center-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.appbar {
  height: 64px;
  background-color: darkslategray;
  color: whitesmoke;
}
